# Final Project - Python For Data Analysis 
---
## Spambase dataset

#### Baptiste Lesn√© - Achille Ambrosi

# Imports

In [24]:
import pandas as pd
import re

# Loading Data

In [86]:
with open("spambase.data","r") as f:
    spambase_data = [i.split(",") for i in f.read().split('\n')]
with open("spambase.names",'r') as f :
    names = f.read()

Let's use regex to find all the columns names, and re.sub to optimize the names.

In [85]:
col = re.findall("word_freq.*?:|char_freq.*?:|capital_run.*?:",names) + ["spam"]
col = [i[:-1].replace("word_freq_","") for i in col]
col = [re.sub("word_freq_|char_freq_","",i) for i in col]

And we create the dataframe ! It represents the frequency at which emails are opened with different words or char in the title !

In [84]:
df = pd.DataFrame(spambase_data, columns = col)
df

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spa
0,0,0.64,0.64,0,0.32,0,0,0,0,0,...,0,0,0,0.778,0,0,3.756,61,278,1
1,0.21,0.28,0.5,0,0.14,0.28,0.21,0.07,0,0.94,...,0,0.132,0,0.372,0.18,0.048,5.114,101,1028,1
2,0.06,0,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.01,9.821,485,2259,1
3,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.137,0,0.137,0,0,3.537,40,191,1
4,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.135,0,0.135,0,0,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.353,0,0,1.555,4,14,0
4598,0.3,0,0.3,0,0,0,0,0,0,0,...,0.102,0.718,0,0,0,0,1.404,6,118,0
4599,0.96,0,0,0,0.32,0,0,0,0,0,...,0,0.057,0,0,0,0,1.147,5,78,0
4600,0,0,0.65,0,0,0,0,0,0,0,...,0,0,0,0.125,0,0,1.25,5,40,0
4601,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None